.navbar-lewagon {
  justify-content: space-between;
  background: #1f1f1f;
  height: 55px;
  width:  100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
